Source: attica
Priority: optional
Maintainer: Debian Krap Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Pino Toscano <pino@debian.org>
Build-Depends: debhelper (>= 9), cmake, libqt4-dev, pkg-kde-tools (>=0.6)
Standards-Version: 3.9.3
Section: libs
Homepage: http://www.kde.org
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/krap/attica.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/krap/attica.git

Package: libattica-dev
Section: libdevel
Architecture: any
Depends: libattica4 (= ${binary:Version}), ${misc:Depends}
Description: development files for libattica
 Attica is a Qt library that implements the Open Collaboration Services
 API version 1.4.
 It grants easy access to the services such as querying information about
 persons and contents.
 .
 This package contains the development header files. 

Package: libattica4
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qt library that implements the Open Collaboration Services API
 Attica is a Qt library that implements the Open Collaboration Services
 API version 1.4.
 It grants easy access to the services such as querying information about
 persons and contents.

